{% extends "base.html" %}

{% block content %}
<div class="bg-light p-5 jumbotron">
    <h1 class="display-2">FAQ</h1>
    <p>Questions that might arise when seeing this page.</p>
</div>

<div class="faq mt-3 mb-5">
    <h2>Which bots do you support?</h2>
    <p>We currently support <a href="https://github.com/Nadybot/Nadybot">Nadybot</a>,
        <a href="https://github.com/Budabot/Tyrbot">Tyrbot</a>,
        <a href="https://github.com/Budabot/Budabot">Budabot</a> and
        <a href="https://github.com/bitnykk/BeBot">BeBot</a>.
    </p>

    <h2>How do I upload my own package?</h2>
    <p>See the <a href="https://github.com/Nadybot/aopkg/blob/stable/PACKAGING.md">packaging guidelines</a>.</p>
</div>
{% endblock %}
